<% include header %>

<h1><%- title %></h1>
<p>API service for guessing name, gender, company etc based on just an email address.</p>
<p>Example: <a href="/.json?email=jane.doe@gmail.com" target="_blank">http://SERVER/.json?email=jane.doe@gmail.com</a></p>

<% include footer %>