html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	color: #555;
	font-family: weld-light, sans-serif;
	font-weight: 300;
	font-size: 100%;
	line-height: 1;
	margin: 0;
	outline: 0;
	padding: 0;
}

p {
	line-height: 130%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li {
	margin-bottom: 0.5em;
	margin-left: 1.2em;
}

h1, h2, h3 {
	font-family: weld-light;
	font-weight: normal;
}

h1 {
	font-size: 30px;
	line-height: 1.3em;
}

h2 {
	font-size: 27px;
	margin: 15px 0;
}

strong, b {
	font-weight: 400;
}

a {
	color: $weld_link_text;
}

a span.icon {
	text-decoration: none;
}

/*----- Tables -----*/

table tr {
	vertical-align: top;
}

/*----- Form Elements -----*/

.form-group {
	margin: 14px 0;
}

/* Both Input + Button */
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=month],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=week],
input[type=number],
input[type=search],
input[type=tel],
input[type=color],
select,
textarea,
button,
a.button,
input[type=button],
input[type=reset],
input[type=submit],
.pseudo-input {
	border-radius: 4px;
	display: inline-block;
	box-sizing: border-box;
	font-family: inherit;
	line-height: normal;
	vertical-align: baseline;
	height: 60px;
	width: 100%;
	font-family: weld-regular;

	&:focus {
		outline: 0;
	}
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=month],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=week],
input[type=number],
input[type=search],
input[type=tel],
input[type=color],
select,
textarea,
.pseudo-input {
	font-size: 1.2em;
	font-weight: 300;
	padding: 0 1em;
	border: 2px solid $weld_input_border_color;
	background: $weld_input_background_color;
	color: $weld_input_text_color;

	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder {
		color: $weld_input_placeholder_color;
	}
}

button,
a.button,
input[type=button],
input[type=reset],
input[type=submit] {
	border: none;
	background-color: $weld_button_background;
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	user-select: none;
	//-webkit-appearance: button;
	-webkit-user-drag: none;
		transition: background-color .2s;

	&:hover {
		background-color: $weld_button_hover_background;
	}
	&:active {
		background-color: $weld_button_active_background;
	}
	&:disabled {
		opacity: 0.6;
		background-color: $weld_button_disabled_background;
		cursor: default;
	}

	&.secondary {
		background-color: $weld_button_secondary_background;
	}
	&.secondary:hover {
		background-color: $weld_button_secondary_hover_background;
	}
	&.secondary:active {
		background-color: $weld_button_secondary_active_background;
	}
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: 0;
	outline : 0;
}

a.button {
	line-height: 60px;
	font-weight: normal;
}